DEBUG=True
SECRET_KEY=change-me-to-something-very-secret
ALLOWED_HOSTS=127.0.0.1,localhost,118.178.236.60,izawa2000.com,www.izawa2000.com

DB_NAME=markus_blog
DB_USER=markus
DB_PASSWORD=your_password_here
DB_HOST=127.0.0.1
DB_PORT=3306
